<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= page.title %></title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="react-app"><%- page.content %></div>
    <script src="/static/bundle.js"></script>
</body>
</html>